#root {
    margin: 0 auto;
}

html {
    position: relative;
    min-height: 100%;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
}

.snippet{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable{
    cursor: pointer;
}